---
import Cabecalho from '../components/Cabecalho.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pagetitle = "Sobre Mim";

const identify = {
    firstName: "Tiago",
    country: "Brasil",
    ocupaction: "Estudante de Tecnologia",
    hobbies: ["Jogos", "Fotografia", "Programação"],
};

const skills = [
    "Java",
    "C#",
    "Kotlin",
    "JavaScript",
    "HTML",
    "CSS",
    "Astro",
    "React",
    "Node.js",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pagetitle}</title>

        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color: purple;
                font-size: 2rem;
            }

            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>

    </head>
    <body>
        <Cabecalho />
        <h1>{pagetitle}</h1>

        <h2>... e meu site Astro</h2>

        <p>Este é um site de exemplo criado com Astro.</p>
        <p>
            Astro é um framework moderno para construir sites rápidos e
            otimizados.
        </p>

        <p>Aqui estão alguns fatos sobre mim:</p>

        <ul>
            <li>Meu nome é {identify.firstName}.</li>
            <li>
                Eu moro no {identify.country} e minha ocupaçao é: {
                    identify.ocupaction
                }.
            </li>
            {
                identify.hobbies.length >= 2 && (
                    <li>
                        Dois dos meus hobbies são: {identify.hobbies[0]} and{" "}
                        {identify.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>Minhas habilidades são:</p>
        <ul>
            {skills.map((habilidade) => <li class="skill">{habilidade}</li>)}
        </ul>

        {happy && <p>Estou feliz em estar aprendendo Astro!</p>}

        {finished && <p>Eu terminei esse tutorial!</p>}

        {
            goal === 3 ? (
                <p>Minha meta é terminar em 3 dias.</p>
            ) : (
                <p>Minha meta não é em 3 dias.</p>
            )
        }
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
